

.MarketplaceViewer,
.MarketplaceViewer > *,
.MarketplaceItem,
.MarketplaceItem * {
background-color: #2e3542;
color: #d5dae2;
}

.MarketplaceItem Link {
color: #7e8ca5;
}
.MarketplaceItem .disabled {
color: #99a4b8;
}

.TagsToolTip,
.TagsToolTip * {
background-color: #434e60;
color: #d5dae2;
}

.NotificationItem,
.NotificationItem * {
background-color: #4d5c6c;
color: #9ac9d8;
}

.CatalogSwitcher,
.CatalogSwitcher > ScrolledComposite,
.CatalogSwitcher > ScrolledComposite > *,
.Catalog,
.Catalog > * {
background-color: #2e3542;
color: #d5dae2;
}

.Catalog:checked,
.Catalog:checked > * {
background-color: COLOR-LIST-SELECTION;
}

#MarketplacePage CTabItem:selected,
#MarketplaceContent,
.MarketplaceSearchHeader,
.MarketplaceSearchHeader > Label {
background-color: '#org-eclipse-ui-workbench-ACTIVE_TAB_BG_END';
}

#MarketplacePage CategoryItem,
#MarketplacePage CategoryItem > GradientCanvas,
#MarketplacePage CategoryItem > GradientCanvas > Label {
/* SWT-BUG workaround: a style for background is not applied on GradientCanvas (CSS engine repaint issue) */
background: '#org-eclipse-ui-workbench-ACTIVE_TAB_BG_END';
background-image: '#org-eclipse-ui-workbench-ACTIVE_TAB_BG_END';
background-color: '#org-eclipse-ui-workbench-ACTIVE_TAB_BG_END';
color: #d5dae2;
}
